body {
  font-family: 'Fuzzy Bubbles', cursive;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

input,
button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  border: 1px solid grey;
  color: gray;
  border-radius: 4px;
  background-color: transparent;
}

.search-form {
  position: fixed;
  top: 0;
  background-color: rgb(254 226 226);
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 10px;
}
.load-more {
  background-color: rgb(254 226 226);
  margin: 10px;
}
.photo-card {
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
  background-color: rgb(255 241 242);
}
.info {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
}

.search-input:focus,
.search-input:hover {
  outline: transparent;
}
