body {
  margin: 0;
  padding: 0;
  font-family: 'Fuzzy Bubbles', cursive;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.button-search,
.search-input,
.load-more {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;

  margin: 0;
  border: 1px solid grey;
  color: gray;

  border-radius: 4px;
  background-color: transparent;
}

.button-search:focus,
.button-search:hover {
  background-color: rgb(247, 210, 210);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  cursor: pointer;
}

.search-input:focus,
.search-input:hover {
  outline: transparent;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
}

.search-form {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(254 226 226);

  height: 50px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  padding-left: 30px;
  padding-right: 30px;

  margin-top: 60px;
  margin-bottom: 20px;
}

.load-more {
  background-color: rgb(254 226 226);

  position: relative;

  margin-left: 50%;
  transform: translateX(-50%);

  margin-bottom: 15px;
  margin-top: 15px;

  width: 120px;
  height: 40px;
}

.load-more:hover,
.load-more:focus {
  background-color: rgb(247, 210, 210);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  cursor: pointer;
}

.photo-card {
  width: 400px;
  height: 300px;

  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
  background-color: rgb(255 241 242);
}

img {
  height: 250px;
  width: 400px;
  object-fit: cover;
}

.info {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-self: center;
}

.info-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 12px;
}
